<h1>Course Info</h1>

<hr />
<form class="form" #courseForm="ngForm" *ngIf="course">
  <div class="form-group">
    <label for="inputCourse" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-12">
      <input
        [(ngModel)]="course.name"
        required
        id="inputCourse"
        name="name"
        #courseName="ngModel"
        [ngClass]="{ 'is-invalid': courseName.invalid }"
        class="form-control"
      />

      <div class="invalid-feedback">
        <span>Course name is required</span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="coursePrice" class="col-sm-2 col-form-label">Price</label>
    <div class="col-sm-12">
      <input
        [(ngModel)]="course.price"
        required
        id="coursePrice"
        name="Price"
        #coursePrice="ngModel"
        [ngClass]="{ 'is-invalid': coursePrice.invalid }"
        class="form-control"
      />

      <div class="invalid-feedback">
        <span>Course price is required</span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="courseRating" class="col-sm-2 col-form-label">Rating</label>
    <div class="col-sm-12">
      <input
        [(ngModel)]="course.rating"
        required
        id="courseRating"
        name="rating"
        #courseRating="ngModel"
        [ngClass]="{ 'is-invalid': courseRating.invalid }"
        class="form-control"
      />

      <div class="invalid-feedback">
        <span>Course rating is required</span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="courseDescription" class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-12">
      <textarea
        [(ngModel)]="course.description"
        required
        id="courseDescription"
        name="description"
        #courseDescription="ngModel"
        [ngClass]="{ 'is-invalid': courseDescription.invalid }"
        class="form-control"
      ></textarea>

      <div class="invalid-feedback">
        <span>Course description is required</span>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button [disabled]="courseForm.invalid" (click)="save()" class="btn btn-primary mr-2">Save</button>
    <button [routerLink]="['/courses']" class="btn btn-secondary mr-2">Back</button>
  </div>
</form>
